<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>namdtools - plotter</title>
    <!--suppress JSUnresolvedLibraryURL -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
        function submitForm() {
            var formData = new FormData(document.querySelector('#plotter'));
            $.ajax({
                url: '/',
                type: 'post',
                processData: false,
                contentType: false,
                data: formData,
                success: function(data) {
                    $('#plot-image').attr("src", data.plot);
                },
            });
        }

        $(document).ready(function () {
            $('.submit-button').on('click', function () {
                submitForm();
            });

            $(document).on('keypress',function(e) {
                 if(e.which === 13) {
                    submitForm();
                    e.preventDefault();
                    return false;
                }
            });
        });
    </script>
</head>
<body>
  <div style="width: 100%;">
    <div style="display: table; width: 100%; text-align: center;">
      <img src="{{ url_for('static', filename='vault/namdtools.svg') }}" style="height: 200px; margin: 0 auto;">
    </div>
    <form id="plotter" enctype="multipart/form-data">
      <input type="file" id="namdlog" name="namdlog" />

      <br><br>

      Choose what to plot:
      <br>
      <input type="radio" name="quantity" id="potential" value="potential" checked />
      <label for="potential">potential</label>
      <br>
      <input type="radio" name="quantity" id="temperature" value="temperature" />
      <label for="temperature">temperature</label>
      <br>
      <input type="radio" name="quantity" id="volume" value="volume" />
      <label for="volume">volume</label>

      <br><br>

      <input type="field" name="skip" id="skip" />
      <label for="skip">Skip</label>

      <br><br>

      <input type="button" name="submit-button" id="submit-button" class="submit-button" value="Produce Plot" />
    </form>

    <br><br>

    <img id="plot-image" src="" alt="">
  </div>
</body>
</html>